html, body, #cesiumContainer {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    /*overflow: hidden;*/
    font-family: sans-serif;
    color: #edffff;
}

[v-cloak] {
    display: none;
}

#toolbar {
    position: absolute;
    top: 5px;
    left: 2px;
}

#toolbarSwitches {
    display: flex;
    flex-direction: column;
    margin: 2px 3px;
}

#toolbarSwitches label{
    padding-left: 50px;
    margin: 1px 0px 1px 0px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 220px;
    height: 24px;
    line-height: 24px;
}

.switch input {
    display:none;
}

.slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    cursor: pointer;
    background-color: #303336;
    border-radius: 8px;
    opacity: 0.5;
}

.slider::before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    border-radius: 50%;
    background-color: red;
    transition: .4s;
}

input:checked + .slider::before {
    background-color: green;
    transform: translateX(20px);
}

/* InfoBox */
#ib {
}

.ibt {
    border-collapse: collapse;
    border-radius: 6px;
    width: 100%;
    margin: 10px 0px 10px 0px;
}

.ibt th, .ibt td {
    border: 1px solid #6d6d6d;
}

.ibt th {
    background-color: #4CAF50;
    padding: 6px;
}

.ibt td {
    text-align: center;
    padding: 4px;
}

.ibt td:first-child, .ibt th:first-child {
    text-align: left;
}

.ibt .ibt-right {
    text-align: right;
}

.cesium-infoBox {
    /*right: 5px;*/
    width: calc(100% - 10px);
    max-width: 540px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 7px;
    border: none;
    box-sizing: border-box;
}

.cesium-infoBox-title {
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.cesium-infoBox-description {
    margin-right: 0px;
}
