<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
        <title>Satellite Orbit Visualization</title>
        <script src="./dist/Cesium.js"></script>
        <script src="./dist/cesium-sensor-volumes.js"></script>
    </head>
    <body>
        <div id="cesiumContainer"></div>
        <div id="toolbar" v-cloak>
            <div id="toolbarButtons">
                <button type="button" class="cesium-button cesium-toolbar-button" v-on:click="menu.sat = !menu.sat">
                    SAT
                </button>
                <button type="button" class="cesium-button cesium-toolbar-button" v-on:click="menu.env = !menu.env">
                    ENV
                </button>
                <button type="button" class="cesium-button cesium-toolbar-button" v-on:click="menu.ios = !menu.ios" v-if="isIOS">
                    iOS
                </button>
                <button type="button" class="cesium-button cesium-toolbar-button" v-on:click="menu.dbg = !menu.dbg">
                    DBG
                </button>
            </div>
            <div id="toolbarSwitches" v-show="menu.sat">
                <label class="switch" v-for="componentName in availableComponents">
                    <input type="checkbox" :value="componentName" v-model="enabledComponents"/>
                    <span class="slider round"></span>
                    {{ componentName }}
                </label>
            </div>
            <div id="toolbarSwitches" v-show="menu.env">
                <label class="switch">
                    <input type="checkbox" v-model="cc.viewer.scene.globe.enableLighting" />
                    <span class="slider round"></span>
                    Day/Night cycle
                </label>
                <label class="switch">
                    <input type="checkbox" v-model="cc.viewer.scene.fog.enabled" />
                    <span class="slider round"></span>
                    Fog
                </label>
                <label class="switch">
                    <input type="button" v-on:click="cc.viewer.trackedEntity = undefined" />
                    <span class="slider round"></span>
                    Untrack Entity
                </label>

                <label class="switch">
                    <input type="button" v-on:click="cc.viewer.scene.morphTo3D()" />
                    <span class="slider round"></span>
                    3D View
                </label>
                <label class="switch">
                    <input type="button" v-on:click="cc.viewer.scene.morphTo2D()" />
                    <span class="slider round"></span>
                    2D View
                </label>
                <label class="switch">
                    <input type="button" v-on:click="cc.viewer.scene.morphToColumbusView()" />
                    <span class="slider round"></span>
                    Columbus View
                </label>

                <label class="switch" v-for="(name, key) in availableImageryProviders">
                    <input type="button" v-on:click="cc.changeImageryProvider(key)"/>
                    <span class="slider round"></span>
                    {{ name }}
                </label>
            </div>
            <div id="toolbarSwitches" v-show="menu.ios">
                <label class="switch">
                    <input type="checkbox" v-model="cc.viewer.clock.shouldAnimate" />
                    <span class="slider round"></span>
                    Play
                </label>
                <label class="switch">
                    <input type="checkbox" v-model="cc.viewer.scene.useWebVR" />
                    <span class="slider round"></span>
                    VR
                </label>
            </div>
            <div id="toolbarSwitches" v-show="menu.dbg">
                <label class="switch">
                    <input type="checkbox" v-model="cc.viewer.scene.debugShowFramesPerSecond" />
                    <span class="slider round"></span>
                    FPS
                </label>
                <label class="switch">
                    <input type="checkbox" v-model="cc.viewer.scene.requestRenderMode" />
                    <span class="slider round"></span>
                    RequestRender
                </label>
            </div>
        </div>
    </body>
</html>
