<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
        <title>MOVE-II Orbit Visualization</title>
        <script src="./dist/Cesium.js"></script>
        <script src="./dist/cesium-sensor-volumes.js"></script>
    </head>
    <body>
        <div id="cesiumContainer"></div>
        <div id="toolbar" v-cloak>
            <div id="toolbarButtons">
                <button type="button" class="cesium-button cesium-toolbar-button" v-on:click="showSwitches = !showSwitches">
                    SB
                    <!--<img src="">-->
                </button>
            </div>
            <div id="toolbarSwitches" v-show="showSwitches">
                <label class='switch' v-for="componentName in availableComponents">
                    <input type='checkbox' :value="componentName" v-model="enabledComponents"/>
                    <span class='slider round'></span>
                    {{ componentName }}
                </label>

                <label class='switch'>
                    <input type='checkbox' v-model='viewer.scene.globe.enableLighting' />
                    <span class='slider round'></span>
                    Day/Night cycle
                </label>
                <label class='switch'>
                    <input type='checkbox' v-model='viewer.scene.fog.enabled' />
                    <span class='slider round'></span>
                    Fog
                </label>
                <label class='switch'>
                    <input type='checkbox' v-model='viewer.scene.debugShowFramesPerSecond' />
                    <span class='slider round'></span>
                    FPS
                </label>
            </div>
        </div>
    </body>
</html>
