<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
        <title>Satellite Orbit Visualization</title>
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">
        <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
        <meta name="msapplication-config" content="none">
        <meta name="theme-color" content="#ffffff">
        <script src="./dist/Cesium.js"></script>
        <script src="./dist/cesium-sensor-volumes.js"></script>
    </head>
    <body>
        <div id="cesiumContainer"></div>
        <div id="toolbar" v-cloak>
            <div class="toolbarButtons">
                <button type="button" class="cesium-button cesium-toolbar-button" v-on:click="toggleMenu('sat')">
                    SAT
                </button>
                <button type="button" class="cesium-button cesium-toolbar-button" v-on:click="toggleMenu('gs')">
                    GS
                </button>
                <button type="button" class="cesium-button cesium-toolbar-button" v-on:click="toggleMenu('env')">
                    ENV
                </button>
                <button type="button" class="cesium-button cesium-toolbar-button" v-on:click="toggleMenu('ios')" v-if="isIOS">
                    iOS
                </button>
                <button type="button" class="cesium-button cesium-toolbar-button" v-on:click="toggleMenu('dbg')">
                    DBG
                </button>
            </div>
            <div class="toolbarSwitches" v-show="menu.sat">
                <label class="switch" v-for="componentName in cc.sats.components">
                    <input type="checkbox" :value="componentName" v-model="enabledComponents"/>
                    <span class="slider round"></span>
                    {{ componentName }}
                </label>
                <label class="switch">
                    <input type="button" v-on:click="cc.viewer.trackedEntity = undefined" />
                    <span class="slider round"></span>
                    Untrack Entity
                </label>
            </div>
            <div class="toolbarSwitches" v-show="menu.gs">
                <label class="switch">
                    <input type="button" v-on:click="cc.setGroundStationFromGeolocation()" />
                    <span class="slider round"></span>
                    From geolocation
                </label>
                <label class="switch">
                    <input type="checkbox" v-model="cc.pickerEnabled" />
                    <span class="slider round"></span>
                    Pick on globe
                </label>
            </div>
            <div class="toolbarSwitches" v-show="menu.env">
                <label class="switch">
                    <input type="checkbox" v-model="cc.viewer.scene.globe.enableLighting" />
                    <span class="slider round"></span>
                    Day/Night cycle
                </label>

                <label class="switch">
                    <input type="button" v-on:click="cc.viewer.scene.morphTo3D()" />
                    <span class="slider round"></span>
                    3D View
                </label>
                <label class="switch">
                    <input type="button" v-on:click="cc.viewer.scene.morphTo2D()" />
                    <span class="slider round"></span>
                    2D View
                </label>
                <label class="switch">
                    <input type="button" v-on:click="cc.viewer.scene.morphToColumbusView()" />
                    <span class="slider round"></span>
                    Columbus View
                </label>

                <label class="switch" v-for="(name, key) in availableImageryProviders">
                    <input type="button" v-on:click="cc.changeImageryProvider(key)"/>
                    <span class="slider round"></span>
                    {{ name }}
                </label>
            </div>
            <div class="toolbarSwitches" v-show="menu.ios">
                <label class="switch">
                    <input type="checkbox" v-model="cc.viewer.clock.shouldAnimate" />
                    <span class="slider round"></span>
                    Play
                </label>
                <label class="switch">
                    <input type="checkbox" v-model="cc.viewer.scene.useWebVR" />
                    <span class="slider round"></span>
                    VR
                </label>
            </div>
            <div class="toolbarSwitches" v-show="menu.dbg">
                <label class="switch">
                    <input type="checkbox" v-model="cc.viewer.scene.debugShowFramesPerSecond" />
                    <span class="slider round"></span>
                    FPS
                </label>
                <label class="switch">
                    <input type="checkbox" v-model="cc.viewer.scene.requestRenderMode" />
                    <span class="slider round"></span>
                    RequestRender
                </label>
                <label class="switch">
                    <input type="checkbox" v-model="cc.viewer.scene.fog.enabled" />
                    <span class="slider round"></span>
                    Fog
                </label>
            </div>
        </div>
    </body>
</html>
